.ipynb_checkpoints
dump.log
model_class_def
model_class_rec
model_reg_rec
model_reg_int
model_unsup
model_nlp
model_clust
ohe_class_def
ohe_class_rec
ohe_reg_rec
ohe_reg_int
ohe_unsup
ohe_clust
scaler_unsup
scaler_clust
vect_nlp
xyz_corp_venv
/data/XYZCorp_LendingData.txt
/data/XYZCorp_LendingData.xlsx
/data/xyz_corp_lending_data.csv
/data/wrang_xyz_data.csv